@font-face {
  font-family: "NotoSans";
  src: url("@/assets/fonts/NotoSans.ttf");
}

@font-face {
  font-family: "Epilogue";
  src: url("@/assets/fonts/Epilogue.ttf");
}

@font-face {
  font-family: "Epilogue-Italic";
  src: url("@/assets/fonts/Epilogue-Italic.ttf");
}
