// Fonts
$noto_sans: "NotoSans";
$epilogue: "Epilogue";
$epilogue_italic: "Epilogue-Italic";

// Colors
$white: #fff;
$black: #000;
$main_font: #202124;
$main_blue: #00a5cf;
$main_blue_dark: #004e64;
$main_green: #7ae582;
$main_green_light: #9fffcb;
$main_green_dark: #25a18e;
$main_poisonous: #affc41;
$main_red: #ff4b44;
$main_red_dark: #dd373c;
$main_grey: #edeef2;
$main_grey_dark: #9d9ea2;
$main_error: #cf0000;

// Borders
$border_mobile: 10px;
$border_tablet: 15px;
$border_laptop: 20px;
$border_input: 10px;
$border_button_small: 7px;
$border_button_medium: 8px;
$border_button_large: 10px;

// Brakepoints
$tablet: 768px;
$laptop: 1280px;
$desktop: 1440px;
